.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.booksContainer{
    display:flex;
    width: 90%;
    height: 100%;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    background-color: blue;
}

